extends layout

block content
	#container
	#control-panel.unselectable
		//h3 Control Panel
		label.switch.green Auto Rescale:  
			input#auto-rescale-checkbox(type="checkbox")
			i
		br
		label.switch.green Force Layout:  
			input#layout-checkbox(type="checkbox")
			i
	ul#stage-menu.menu
		li Create New Node
	ul#node-menu.menu
		li Edit
		li Delete
		li Hide
	ul#edge-menu.menu
		li Edit
		li Delete
		li Hide
		//li Reverse
	#new-node
		span  Title: 
		input(type="text") 
		input(type="Submit", value="OK")
	#name-value
		span Name: 
		input(type="text")
		span URL: 
		input(type="text")
		input(type="Submit", value="OK")