extends layout

block content
	div#container
	div#control-panel.unselectable
		//h3 Control Panel
		label.switch.green Auto Rescale:  
			input#auto-rescale-checkbox(type="checkbox")
			i
		br
		label.switch.green Force Layout:  
			input#layout-checkbox(type="checkbox")
			i
	ul#stage-menu.menu.hiddable
		li Create New Node
	ul#node-menu.menu.hiddable
		li Edit
		li Delete
		li Hide
	ul#edge-menu.menu.hiddable
		li Edit
		li Delete
		li Hide
		li Reverse
	div#new-node.hiddable
		span  Title: 
		input(type="text") 
		input(type="Submit", value="OK")