doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/switch.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    link(rel='stylesheet', href='/stylesheets/load6.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
  body
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/sigma.min.js')
    script(src='/javascripts/sigma.layout.forceAtlas2.min.js')
    script(src='/javascripts/sigma.parsers.gexf.min.js')
    script(src='/javascripts/sigma.plugins.dragNodes.min.js')
    script(src='/javascripts/sigma.plugins.neighborhoods.min.js')
    script(src='/javascripts/ajax.js')
    script(src='/javascripts/main.js')